.u-dialog-section-15 .u-dialog-1 {
    width: 800px;
    height: auto;
    margin: 78px auto 60px;
  }
  
  .u-dialog-section-15 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-dialog-section-15 .u-text-1 {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .u-dialog-section-15 .u-form-1 {
    width: 727px;
    height: 419px;
    margin: 30px 13px 0 0;
  }
  
  .u-dialog-section-15 .u-form-group-1 {
    margin-left: 0;
  }
  
  .u-dialog-section-15 .u-form-group-2 {
    margin-left: 0;
  }
  
  .u-dialog-section-15 .u-form-group-3 {
    margin-left: 0;
  }
  
  .u-dialog-section-15 .u-btn-1 {
    background-image: none;
  }
  
  .u-dialog-section-15 .u-icon-1 {
    width: 20px;
    height: 20px;
  }
  
  @media (max-width: 1199px) {
    .u-dialog-section-15 .u-dialog-1 {
      min-height: 552px;
    }
  
    .u-dialog-section-15 .u-form-1 {
      width: 727px;
      margin-right: 13px;
    }
  }
  
  @media (max-width: 991px) {
    .u-dialog-section-15 .u-dialog-1 {
      width: 720px;
    }
  
    .u-dialog-section-15 .u-form-1 {
      width: 660px;
      margin-right: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-dialog-section-15 .u-dialog-1 {
      width: 540px;
    }
  
    .u-dialog-section-15 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-dialog-section-15 .u-form-1 {
      width: 520px;
    }
  }
  
  @media (max-width: 575px) {
    .u-dialog-section-15 .u-dialog-1 {
      width: 340px;
    }
  
    .u-dialog-section-15 .u-form-1 {
      width: 320px;
    }
  }