 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/istockphoto-1365238737-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 235px 7px 0;
}

.u-section-1 .u-text-2 {
  margin: 17px 109px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-top: 183px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 168px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 4px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 196px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 92px;
  }
} .u-section-2 {
  background-image: url("images/main_page23.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 684px;
}

.u-section-2 .u-text-1 {
  margin: 127px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  min-height: 325px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 15px 13px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  width: 252px;
  margin: 78px auto 0;
}

.u-section-2 .u-image-1 {
  width: 136px;
  height: 156px;
  margin: 10px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 15px 13px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  width: 252px;
  margin: 78px auto 0;
}

.u-section-2 .u-image-2 {
  width: 136px;
  height: 156px;
  margin: 10px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 15px 13px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  width: 252px;
  margin: 78px auto 0;
}

.u-section-2 .u-image-3 {
  width: 136px;
  height: 156px;
  margin: 10px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 15px 13px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  width: 252px;
  margin: 78px auto 0;
}

.u-section-2 .u-image-4 {
  width: 136px;
  height: 156px;
  margin: 10px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 15px 13px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  width: 252px;
  margin: 78px auto 0;
}

.u-section-2 .u-image-5 {
  width: 136px;
  height: 156px;
  margin: 10px auto 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 309px;
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 355px;
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 40px;
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 204px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 30px;
  }
}