 .u-section-1 {
  background-image: url("images/main_page.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 998px;
}

.u-section-1 .u-text-1 {
  margin: 37px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 31px 15px 0 40px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 747px 40px 38px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 630px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 473px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 298px;
  }
}