 .u-section-1 {
  background-image: url("images/main_page46.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 714px;
}

.u-section-1 .u-text-1 {
  margin: 92px 23px 0;
}

.u-section-1 .u-form-1 {
  height: 434px;
  width: 570px;
  margin: 43px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

.u-section-1 .u-icon-1 {
  width: 57px;
  height: 57px;
  margin: 19px 31px 16px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 589px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 451px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}