 .u-section-1 {
  background-image: url("images/main_page16.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 768px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 14px;
  margin-bottom: 14px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 750px;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  margin: 160px -4px 0;
}

.u-section-1 .u-group-elements-1 {
  width: 515px;
  min-height: 73px;
  height: auto;
  margin: 21px auto 0;
}

.u-section-1 .u-group-1 {
  background-image: none;
  min-height: 73px;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.85);
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 22px 17px 0;
}

.u-section-1 .u-group-2 {
  width: 515px;
  background-image: none;
  min-height: 74px;
  height: auto;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.85);
  margin: 21px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-text-3 {
  margin: 23px auto 0;
}

.u-section-1 .u-group-3 {
  width: 515px;
  background-image: none;
  min-height: 82px;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.85);
  height: auto;
  margin: 16px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-text-4 {
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 17px auto 0;
  padding: 22px 52px 24px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 618px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -37px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-text-4 {
    margin-left: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 11px;
    margin-right: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-right: 51px;
    margin-left: 26px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    margin-right: auto;
    margin-left: 21px;
  }
}